<%
  # WOSoMP
  # Home / Index

  set_active_nav("home")
-%>

<div class="row">

  <div class="span5">
    <h3>Eight Sports</h3>
    <p>
      The Weekend Olympic Showdown of Massive Proportions is just as it sounds:
      an Olympic-style competition amongst friends in events known as faux sports
      developed as modifications to existing sports or altogether new games.
    </p>
  </div>

  <div class="span5 pull-right">
    <h3>Nonlympics</h3>
    <p>
      The Weekend Olympic Showdown of Massive Proportions is just as it sounds:
      an Olympic-style competition amongst friends in events known as faux sports
      developed as modifications to existing sports or altogether new games.
    </p>
  </div>

</div><!--/.row-->

<div class="row">
  <div class="span5">
    <h3>Live Rankings</h3>
    <p>
      The Weekend Olympic Showdown of Massive Proportions is just as it sounds:
      an Olympic-style competition amongst friends in events known as faux sports
      developed as modifications to existing sports or altogether new games.
    </p>
  </div>

  <div class="span5 pull-right">
    <h3>Awards &amp; Beer</h3>
    <p>
      The Weekend Olympic Showdown of Massive Proportions is just as it sounds:
      an Olympic-style competition amongst friends in events known as faux sports
      developed as modifications to existing sports or altogether new games.
    </p>
  </div>
</div><!--/.row-->
