<%
  # WOSoMP
  # Home / Index
  
  set_active_nav("home")
-%>

<h2>Welcome to WOSoMP</h2>
<p class="center">
  The Weekend Olympic Showdown of Massive Proportions is just as it sounds:
  an Olympic-style competition amongst friends in events known as faux sports
  developed as modifications to existing sports or altogether new games.
</p>
<p class="center">
  Semi-regularly, a full-scale olympiad of the WOSoMP games is held, complete
  with Olympic team affiliations, multiple events, an awards ceremony, and
  more.
</p>
  



