<%
  # WOSoMP LIVE
  # Live / Twitter, Instagram Media Loader
-%>

<p class="lead" style="position:relative; top:300px; text-align:center;">Loading WOSoMP Social...</p>

<div class="row-fluid">
  <div id="photos" class="span7"></div>
  <div id="tweets" class="span5"></div>
</div>



<% content_for :javascripts do %>
<script type="text/javascript">

  $(function(){
    var instagramClientId = "<%=Rails.env.production? ? "233f8afd234b403d9217db7aef273e95" : "233f8afd234b403d9217db7aef273e95" -%>";
    loadTweetsAndPhotos(instagramClientId);
  });


  /** Run a loading spinner while we wait for the content to load: **/
  var opts = {
    lines: 8, // The number of lines to draw
    length: 30, // The length of each line
    width: 17, // The line thickness
    radius: 6, // The radius of the inner circle
    corners: 0.5, // Corner roundness (0..1)
    rotate: 62, // The rotation offset
    direction: 1, // 1: clockwise, -1: counterclockwise
    color: '#f30', // #rgb or #rrggbb
    speed: 1.5, // Rounds per second
    trail: 57, // Afterglow percentage
    shadow: false, // Whether to render a shadow
    hwaccel: false, // Whether to use hardware acceleration
    className: 'spinner', // The CSS class to assign to the spinner
    zIndex: 2e9, // The z-index (defaults to 2000000000)
    top: '175', // Top position relative to parent in px
    left: 'auto' // Left position relative to parent in px
  };
  var target = document.getElementById("content");
  var spinner = new Spinner(opts).spin(target);

</script>
<% end %>

