<%
  # WOSoMP LIVE
  # Initial Live Loader
-%>


<p class="lead" style="position:relative; top:300px; text-align:center;">Loading WOSoMP Live...</p>

<% content_for :javascripts do %>
<script type="text/javascript">

  /** Run a loading spinner while we wait for the content to load: **/
  var opts = {
    lines: 8, // The number of lines to draw
    length: 30, // The length of each line
    width: 17, // The line thickness
    radius: 6, // The radius of the inner circle
    corners: 0.5, // Corner roundness (0..1)
    rotate: 62, // The rotation offset
    direction: 1, // 1: clockwise, -1: counterclockwise
    color: '#f30', // #rgb or #rrggbb
    speed: 1.5, // Rounds per second
    trail: 57, // Afterglow percentage
    shadow: false, // Whether to render a shadow
    hwaccel: false, // Whether to use hardware acceleration
    className: 'spinner', // The CSS class to assign to the spinner
    zIndex: 2e9, // The z-index (defaults to 2000000000)
    top: '175', // Top position relative to parent in px
    left: 'auto' // Left position relative to parent in px
  };
  var target = document.getElementById("content");
  var spinner = new Spinner(opts).spin(target);


  TAB_LOAD_CALLBACKS = [
    // Teams:
    function() {
      // console.log("Team page displayed");
      updateLeaderBoard("team-rank");
    },
    // Athletes:
    function() {
      // console.log("Athlete page displayed");
      updateLeaderBoard("men-rank");
      updateLeaderBoard("women-rank");
    },
    // Schedule:
    function() {
      // console.log("Schedule page displayed");
      $("table.schedule").fadeIn(500);
    },
    // Media:
    function() {
      // console.log("Media page displayed");
      loadTweetsAndPhotos();
    }
  ];

  setTimeout("loadNextPage()", 2500);
</script>
<% end %>

