/**
 * WOSoMP Font Declarations
**/

@font-face {
  font-family: 'CollegeRegular';
  src: url('/fonts/COLLEGE-webfont.eot');
  src: url('/fonts/COLLEGE-webfont.eot?#iefix') format('embedded-opentype'),
     url('/fonts/COLLEGE-webfont.woff') format('woff'),
     url('/fonts/COLLEGE-webfont.ttf') format('truetype'),
     url('/fonts/COLLEGE-webfont.svg#CollegeRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
