/**
 * WOSoMP
 * Home Stylesheet -- Layout and Home-Specific Styling
 *
 * You can use Sass (SCSS) here: http://sass-lang.com/
**/

$white: #FFF;
$orange: #E85407;
$dkorange: #9B3805;
$green: #2AB56B;


body.home {
  padding-top: 0;
}
body.inside {
  padding-top: 60px;
}


#intro {
  background: #FFF;
  color: #222;
  font-size: 16px;
  font-weight: lighter;
  padding: 0.5em 0;
  text-align: center;
  position: fixed;
  width: 100%;
  box-shadow: 0 2px 3px rgba(0,0,0,0.85);
}
#mast {
  background-color: #444;
  //height: 400px;
  text-align: center;
  -webkit-background-size: 100% !important;
  -moz-background-size: 100% !important;
  background-size: 100% !important;
  color: #EEE;
  padding: 40px 0 8em;
}
#mast.cornholer { background: url(mast/cornholer.jpg) 0 -150px repeat-y; }
#mast.wickets { background: url(mast/wickets.jpg) 0 -60px repeat-y; }
#mast.football { background: url(mast/football.jpg) 0 -100px repeat-y; }
#mast.dogball { background: url(mast/dogball.jpg) 0 -175px repeat-y; }

#photo-attributions {
  float: right;
  text-align: right;
  font-size: 8px;
  margin-top: 10em;
  padding-right: 2em;
  color: #444;
}
#photo-attributions span { display: none; }
#mast.cornholer #photo-attributions span[rel="cornholer"] { display: block; }
#mast.wickets #photo-attributions span[rel="wickets"] { display: block; }
#mast.football #photo-attributions span[rel="football"] { display: block; }
#mast.dogball #photo-attributions span[rel="dogball"] { display: block; }
#photo-attributions a {
  color: #666;
  text-decoration: underline;
}


h1#logo {
  background: url(wosomp_shield.png) 0 10px no-repeat;
  margin: auto;
  width: 119px;
  height: 145px;
}
h1#logo span {
  display: none;
}
h1#logo.inside {
  background: url(wosomp_shield_shadow.png) 0 0 no-repeat;
  float: left;
  margin-right: 15px;
  position: relative;
  width: 94px;
  height: 91px;
}

#mast h2 {
  color: #FFF;
  font-family: "Arial Black",Helvetica,Arial,sans-serif;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  text-transform: uppercase;
}


#cta {
  background: rgba(255,255,255,0.8);
  border: 2px solid #111;
  border-radius: 5px;
  box-shadow: 0px 2px 50px rgba(0,0,0,0.9);
  margin-top: 6em;
  margin-bottom: 4em;
  min-height: 200px;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}


#nav-wrapper {
  background: #000;
}
#nav-wrapper.inside {
  height: 54px;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 3px rgba(0,0,0,0.85);
  z-index: 100;
}
ul#top-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul#top-nav li {
  display: inline-block;
  font-size: 18px;
  font-weight: lighter;
  padding: 1em;
  text-transform: uppercase;
  text-align:center;
}
ul#top-nav li a {
  color: #FFF;
  text-decoration: none;
}
ul#top-nav li:hover {
  background-color: #000;
  background: -moz-radial-gradient(center, ellipse cover, #333 15%, #000 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(15%,#333), color-stop(100%,#000)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #333 15%, #000 100%); /* Chrome10+,Safari5.1+ */
  background: -ms-radial-gradient(center, ellipse cover, #333 15%, #000 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, #333 15%, #000 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
ul#top-nav li:hover a {
  color: $green;
}
ul#top-nav li.active, ul#top-nav li.active:hover {
  background-color: #FFF;
  background-image: -moz-linear-gradient(top, #B0B0B0, #FFF);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#B0B0B0), to(#FFF));
  background-image: -webkit-linear-gradient(top, #B0B0B0, #FFF);
  background-image: -o-linear-gradient(top, #B0B0B0, #FFF);
  background-image: linear-gradient(to bottom, #B0B0B0, #FFF);
  background-repeat: repeat-x;
}
ul#top-nav li.active a {
  color: #000;
  font-weight: bold;
}
ul#top-nav li.feature {
  background-color: $orange;
  color: #FFF;
}
ul#top-nav li.feature:hover a {
  color: #FFF;
}
ul#top-nav li.feature:hover {
  background-color: $orange;
  background: -moz-radial-gradient(center, ellipse cover, $dkorange 15%, $orange 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(15%,$dkorange), color-stop(100%,$orange)); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, $dkorange 15%, $orange 100%); /* Chrome10+,Safari5.1+ */
  background: -ms-radial-gradient(center, ellipse cover, $dkorange 15%, $orange 100%); /* IE10+ */
  background: radial-gradient(ellipse at center, $dkorange 15%, $orange 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$dkorange', endColorstr='$orange',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}



#content-wrapper {
  margin-top: 3em;
  margin-bottom: 2em;
}


.blurb {}
.blurb img {
  float: left;
  margin: 2em 1em 1em 0;
  width: 25%;
}



#footer {
  background-color: #000;
  color: #EEE;
  margin-top: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
}
#footer a {
  color: $green;
  font-size: 11px;
  text-decoration: none;
  text-transform: uppercase;
}
#footer a:hover {
  text-decoration: underline;
}
#footer img.logo {
  float: left;
  height: 60px;
  padding-right: 10px;
  padding-bottom: 50px;
}
#footer .box {
  min-height: 4em;
}
#footer .box:last-child {
  border: none;
  padding-top: 4em;
  text-align: right;
}


