/**
 * WOSoMP
 * Home Stylesheet -- Layout and Home-Specific Styling
 *
 * You can use Sass (SCSS) here: http://sass-lang.com/
**/

$white: #FFF;
$green: #294C47;
$paleblue: #B0E0E6;
$paleblue-mid: #99C1C5;
$paleblue-dark: #83A1A5;

body {
  padding-top: 0;
}

#mast-bg {
  background: #111 url(mast/3602548336_b515ca4762_o.jpg) center center no-repeat;
  // 2815081942_921ede2056_o.jpg
  // 3769423941_fc1eca85ea_b.jpg
  // 4905229527_9d4a3b9cd3_b.jpg
  // 7294653240_6971c448a0_o.jpg
}

#header-strip {
  max-height: 80px;
  margin-bottom: 20px;
}
h1#logo {
  background: url(wosomp_logo_med.png) no-repeat;
  color: transparent;
  margin: auto;
  padding-top: 20px;
  text-align: center;
  width: 350px;
  height: 165px;
}
h1#logo span { display: none; }

#cta {
  background: rgba(255,255,255,0.9);
  border: 2px solid #333;
  border-radius: 5px;
  box-shadow: 0px 2px 50px rgba(0,0,0,0.85);
  margin-top: 3em;
  margin-bottom: 6em;
  min-height: 200px;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
}


#nav-wrapper {
  background: #333C33;
  border: 2px solid #222;
  border-width: 2px 0;
  box-shadow: inset 2px -4px 2px #222;
}
ul#top-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul#top-nav li {
  display: inline-block;
  font-size: 18px;
  font-weight: lighter;
  padding: 1em;
  text-transform: uppercase;
  text-align:center;
  position: relative;
  top: 2px;
}
ul#top-nav li a {
  color: #FFF;
  text-decoration: none;
}
ul#top-nav li.active {
  background: #FFF;
  border: 2px solid #111;
  border-width: 2px 2px 0;
  box-shadow: inset 2px 3px 2px #666;
}
ul#top-nav li.active a {
  color: #000;
  font-weight: bold;
}



#content-wrapper {
  margin-top: 1em;
  margin-bottom: 2em;
}



.nav-pills > .active > a, .nav-pills > .active > a:hover {
  background-color: #667F7C;
}
.nav-pills > li > a {
  color: #C2CCCA;
}
.nav-pills > li > a:hover {
  color: #000;
  background-color: #C2CCCA;
}

.hidden { display: none; }

img.facebook-pic {
  background: #FFF;
  border: 1px solid #CCC;
  border-radius: 3px;
  height: 50px;
  margin: 5px;
  padding: 2px;
  width: 50px;
}



