/**
 * WOSoMP
 * Live Stylesheet -- Specific to Live Display
 *
 * You can use Sass (SCSS) here: http://sass-lang.com/
**/

.progress {
  height: 25px;
  min-height: 25px;
  padding-top: 50px;
  position: relative;
}
.progress .name {
  position: absolute;
  top: 5px;
  left: 5px;
  font-weight: bold;
}
.progress .bar {
  height: 100%;
}
.progress .bar-gold {
  background-color: #fc3;
  background-image: -moz-linear-gradient(top, #fc3, #c90);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fc3), to(#c90));
  background-image: -webkit-linear-gradient(top, #fc3, #c90);
  background-image: -o-linear-gradient(top, #fc3, #c90);
  background-image: linear-gradient(to bottom, #fc3, #c90);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffcc33', endColorstr='#ffcc9900', GradientType=0);
}
.progress .bar-silver {
  background-color: #ccc;
  background-image: -moz-linear-gradient(top, #ccc, #666);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ccc), to(#666));
  background-image: -webkit-linear-gradient(top,#ccc,#666);
  background-image: -o-linear-gradient(top,#ccc,#666);
  background-image: linear-gradient(to bottom,#ccc,#666);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcccccc', endColorstr='#ff666666', GradientType=0);
}
.progress .bar-bronze {
  background-color: #c63;
  background-image: -moz-linear-gradient(top, #c63, #930);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c63), to(#930));
  background-image: -webkit-linear-gradient(top,#c63,#930);
  background-image: -o-linear-gradient(top,#c63,#930);
  background-image: linear-gradient(to bottom,#c63,#930);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcc6633', endColorstr='#ff993300', GradientType=0);
}
