                  <h1 style="color:#303030;font-size:20px;font-weight:normal;">
                    *TEST* You registered for WOSoMP! <%=@olympiad.name-%>
                  </h1>
                  <p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#666;line-height:1.4;">
                    And you should be there! The Weekend Olympic Showdown of Massive Proportions
                    comes to Kennett Square, PA on Saturday, May 4, 2013.
                    <a href="http://wosomp.com/olympiads/kennett-2013/register?utm_source=email2&utm_medium=email&utm_campaign=Kennett2013&utm_content=LINK_TOP">Register now as an athlete or fan</a>.
                  </p>
                  <p>&nbsp;</p>
                  <p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#666;line-height:1.4;">
                    <a href="http://wosomp.com/olympiads/kennett-2013/register?utm_source=email2&utm_medium=email&utm_campaign=Kennett2013&utm_content=BUTTON_SIGNUP_TOP" style="-webkit-border-image: none;-webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;background-color: rgb(91, 183, 91);background-image: -webkit-linear-gradient(top, rgb(98, 196, 98), rgb(81, 163, 81));background-repeat: repeat-x;border-bottom-color: rgba(0, 0, 0, 0.247059);border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;border-bottom-style: solid;border-bottom-width: 1px;border-left-color: rgba(0, 0, 0, 0.0980392);border-left-style: solid;border-left-width: 1px;border-right-color: rgba(0, 0, 0, 0.0980392);border-right-style: solid;border-right-width: 1px;border-top-color: rgba(0, 0, 0, 0.0980392);border-top-left-radius: 6px;border-top-right-radius: 6px;border-top-style: solid;border-top-width: 1px;box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;color: rgb(255, 255, 255);cursor: pointer;display: inline-block;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 18px;line-height: 20px;margin-bottom: 0px;padding-bottom: 11px;padding-left: 19px;padding-right: 19px;padding-top: 11px;text-align: center;text-decoration: none;text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;vertical-align: middle;">
                      Sign Up, Now
                    </a>
                    <a href="http://wosomp.com/?utm_source=email2&utm_medium=email&utm_campaign=Kennett2013&utm_content=BUTTON_LEARN_TOP" style="-webkit-border-image: none;-webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;background-color: rgb(245, 245, 245);background-image: -webkit-linear-gradient(top, rgb(255, 255, 255), rgb(230, 230, 230));background-repeat: repeat-x;border-bottom-color: rgb(179, 179, 179);border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;border-bottom-style: solid;border-bottom-width: 1px;border-left-color: rgb(204, 204, 204);border-left-style: solid;border-left-width: 1px;border-right-color: rgb(204, 204, 204);border-right-style: solid;border-right-width: 1px;border-top-color: rgb(204, 204, 204);border-top-left-radius: 6px;border-top-right-radius: 6px;border-top-style: solid;border-top-width: 1px;box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;color: rgb(51, 51, 51);cursor: pointer;display: inline-block;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 18px;line-height: 20px;margin-bottom: 0px;padding-bottom: 11px;padding-left: 19px;padding-right: 19px;padding-top: 11px;text-align: center;text-decoration: none;text-shadow: rgba(255, 255, 255, 0.74902) 0px 1px 1px;vertical-align: middle;">
                      Learn More
                    </a>
                  </p>
                  <p>&nbsp;</p>
                  <p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#666;line-height:1.4;">
                    <b>You don't need to be an athlete to have fun!</b> Sure, WOSoMP is an Olympic-style
                    tournament of crazy sports and games, but there's food, drink, and cheering to take part
                    in, as well! Check out the folks already registered for the event:
                  </p>
                  <p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#666;line-height:1.4;">&nbsp;</p>
                  <p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#666;line-height:1.4;">
                    <a href="http://wosomp.com/?utm_source=email2&utm_medium=email&utm_campaign=Kennett2013&utm_content=PRIMARY_IMAGE"><img src="http://wosomp.com/images/wosomp_jerseys.png" border="0" alt="Check Out Our Currently Registered Athletes" width="385px"/></a>
                  </p>
                  <p>&nbsp;</p>
                  <p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#666;line-height:1.4;">
                    So, grab your friends, join a team, and get ready! Pre-registration is going on, now.
                    We can confidently say that WOSoMP is the only place you'll be able to Kick-n-Putt, Slap,
                    Polish Horseshoe, Can Jam, and Wiffle Derby your way to victory, probably in the world.
                    Did we mention there are gold, silver, and bronze medals for the winners of each event!?
                  </p>
                  <p>&nbsp;</p>
                  <h1 style="color:#303030;font-size:20px;font-weight:normal;">
                    Sign Up Soon to Reserve Your Spot. You won't regret it!
                  </h1>
                  <p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#666;line-height:1.4;">
                    <a href="http://wosomp.com/olympiads/kennett-2013/register?utm_source=email2&utm_medium=email&utm_campaign=Kennett2013&utm_content=CTA_BUTTON_BOTTOM" style="-webkit-border-image: none;-webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;background-color: rgb(91, 183, 91);background-image: -webkit-linear-gradient(top, rgb(98, 196, 98), rgb(81, 163, 81));background-repeat: repeat-x;border-bottom-color: rgba(0, 0, 0, 0.247059);border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;border-bottom-style: solid;border-bottom-width: 1px;border-left-color: rgba(0, 0, 0, 0.0980392);border-left-style: solid;border-left-width: 1px;border-right-color: rgba(0, 0, 0, 0.0980392);border-right-style: solid;border-right-width: 1px;border-top-color: rgba(0, 0, 0, 0.0980392);border-top-left-radius: 6px;border-top-right-radius: 6px;border-top-style: solid;border-top-width: 1px;box-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.0470588) 0px 1px 2px 0px;color: rgb(255, 255, 255);cursor: pointer;display: inline-block;font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size: 18px;line-height: 20px;margin-bottom: 0px;padding-bottom: 11px;padding-left: 19px;padding-right: 19px;padding-top: 11px;text-align: center;text-decoration: none;text-shadow: rgba(0, 0, 0, 0.247059) 0px -1px 0px;vertical-align: middle;">
                      Sign Up to Play, Now
                    </a>
                  </p>
                  <p>&nbsp;</p>
                  <p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#666;line-height:1.4;">
                    Oh, and if you're one of the <b>absolutely awesome</b> people already signed up, don't
                    forget to tell your friends and get them involved. Your team can always use more talent
                    and more fan support!
                  </p>
