<!DOCTYPE html>
<html>
<head>
  <title>WOSoMP Emailing</title>
  <meta  http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

  <table align="center" cellpadding="0" cellspacing="0" border="0" width="670" style="margin-top:10px;border:0;border-top:4px solid #E25700;border-left:1px solid #303030;border-right:1px solid #303030;border-bottom:1px solid #303030;background-color:#ffffff;">
    <tbody>
      <tr>
        <td>

          <table cellpadding="0" cellspacing="0" style="width:100%;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#666;font-weight:lighter;line-height:1.4;">
            <tbody>
              <tr>
                <td class="header" style="background:#303030;color:#EEE;padding:1em;font-size:20px;font-weight:bold;text-align:center;">
                  <a href="http://wosomp.com/?utm_source=emailAuto&utm_medium=email&utm_campaign=Kennett2013&utm_content=HEADER_LOGO"><img border="0" src="http://wosomp.com/images/wosomp_shield.png" alt="WOSoMP 2013"/></a>
                  <h1 style="display:none;">WOSoMP 2013</h1>
                </td>
              </tr>

              <tr>
                <td class="body" style="padding:1em 1em 3em;text-align:center;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;color:#666;font-weight:lighter;line-height:1.4;">
                  <%= yield %>
                  <p>&nbsp;</p>
                </td> <!--/.body-->
              </tr>

              <tr>
                <td class="footer" style="padding:1em 4em;background:#EFEFEF;color:#999;text-align:center;font-size:12px;border-top: 1px solid #606060;box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);">
                  <p>
                    This message was sent to you, because you've interacted with or been volunteered to interact
                    with the Weekend Olympic Showdown of Massive Proportions. Perhaps not surprisingly, this email
                    was sent by a website. You can change your account settings and request to not be mailed by
                    us at our website, accessible via the links below.
                  </p>
                  <p style="text-align:center;">
                    <a href="http://wosomp.com/?utm_source=emailAuto&utm_medium=email&utm_campaign=Kennett2013&utm_content=FOOTER_LOGO"><img border="0" alt="WOSoMP 2013" class="logo" src="http://wosomp.com/assets/wosomp_shield_shadow.png" height="70"></a>
                  </p>
                  <p style="text-align:center;">
                    <a href="http://wosomp.com/?utm_source=emailAuto&utm_medium=email&utm_campaign=Kennett2013&utm_content=FOOTER_DOTCOM">WOSOMP.com</a> -
                    <a href="http://wosomp.com/about?utm_source=emailAuto&utm_medium=email&utm_campaign=Kennett2013&utm_content=FOOTER_LEARNMORE">LEARN MORE</a> -
                    <a href="http://wosomp.com/olympiads/kennett-2013/location?utm_source=emailAuto&utm_medium=email&utm_campaign=Kennett2013&utm_content=FOOTER_LOCATION">LOCATION</a> -
                    <a href="http://wosomp.com/olympiads/kennett-2013/events?utm_source=emailAuto&utm_medium=email&utm_campaign=Kennett2013&utm_content=FOOTER_EVENTS">THE SPORTS</a>
                  </p>
                  <p style="text-align:center;">
                    Sent to you by the Weekend Olympic Showdown of Massive Proportions<br/>
                  </p>
                </td>
              </tr>
            </tbody>
          </table>

        </td>
      </tr>
    </tbody>
  </table>


</body>
</html>

