<%
  # WOSoMP
  # Olympiad / Register
%>


<div class="row">

  <h1>Sign Up for <%=@olympiad.name%></h1>
  <p class="lead">Complete the form below to register for our May 4 event in <%=@olympiad.city_state-%></p>

</div>

<div class="row">

  <%=form_for @registration %>


</div>

