<%
  # WOSoMP
  # Olympiad / Register
-%>


<div class="row">
  <h1>You Are Signed Up!</h1>
  <p class="lead">You are all booked up for the <%=@olympiad.name-%> WOSoMP event.</p>
</div>

<textarea><%=@registration.inspect-%></textarea>

